@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /*--color-background: #141414;*/
    --color-background: rgba(3,37,65, 1);
    /*--color-background: #064172FF;*/
    --color-text: white;
    --button-color: #0EA5E9FF;
}